.p {
  padding-left: 25rem;
  padding-right: 25rem;
}

.header {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.DivSearch {
  width: 657px;
  height: 48px;
  max-width: 100%;
  background-color: #f6f5f2;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.searchBar {
  width: 90%;
  height: 100%;
  border: none;
  background-color: #f6f5f2;
  font-size: 14px;
  color: #9f9f9f;
}

.searchBar__btn {
  width: 28px;
  height: 28px;
  border: none;
  background-color: #f6f5f2;
  .sbtn {
    &:hover path {
      fill: #f71963;
      cursor: pointer;
    }
  }
}

.svg {
  &:hover path {
    fill: #f71963;
    cursor: pointer;
  }
}

.svgComp {
  &:hover path {
    stroke: #f71963;
    cursor: pointer;
  }
}

.svgNav {
  margin-right: 12px;
}

.navButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .n_btn {
    display: flex;
    border: none;
    background-color: transparent;
    color: #9f9f9f;
    font-weight: 600;

    &:hover {
      color: #f71963;
      cursor: pointer;
    }

    &:hover path {
      stroke: #f71963;
    }
  }
}
